@model NewsHeadingsWeb.Models.PageModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/CSS/MyStyles.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
        <script src="~/JS/jquery-3.3.1.min.js"></script>
        <script src="~/JS/jquery-ui.min.js"></script>
        <script src="~/JS/bootstrap.min.js"></script>
        <script src="~/JS/helperFun.js"></script>
    </div>
</body>
</html>
