<h2>Данные удалены</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Show", "News")";
        }, 1000);
    })
</script>
